@model IEnumerable<UsuarioTipoUsuario>
@using Clinica.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<head>
    <title>Consulta Usuarios</title>
</head>
<partial name="_Menu" />
<div class="container">
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Consulta Usuarios</h2>
                </div>
            </div>
            <form asp-controller="Usuario" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorBotones">
                    <div class="col-md-2 col-lg-2 text-right">
                        <label>Buscar Medico:</label>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-align-center">
                        <input type="text" class="form-control" name="nombre" id="nombre" value="@ViewBag.Medico" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-align-center ">
                        <a class="btn btn-success fa fa-search botonesTexto buscarConsulta" onclick="buscarConsulta()">
                            Buscar
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a class="btn btn-success fa fa-file-excel-o resetearBoton botonesTexto" onclick="Resetear()">
                            Resetear
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-controller="ConsultaUsuario" asp-action="exportarPDF" class="btn btn-success fa fa-file-pdf-o crearPDF botonesTexto" target="_blank">
                            Exportar PDF
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-controller="ConsultaUsuario" asp-action="exportarExcel" class="btn btn-success fa fa-file-excel-o crearExcel botonesTexto" target="_blank">
                            Exportar Excel
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 colo-lg-2 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar al menú
                        </a>
                    </div>
                    <br />
                </div>
                <div class="col-md-12" style="color:black;"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <div class="contenedorTablas">
                    <table class="table table-hover border .table-responsive" id="TbEspecial">
                        <thead class="thead-dark">
                            <tr class="table-secondary trs">
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.TipoUsuarioNombre)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td> @Html.DisplayFor(modelItem => item.TipoUsuarioNombre)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h2 style="color:red">No se encontraron usuarios.</h2>
            }
        </div>
    </main>
</div>
<partial name="_EndPag" />