@model IEnumerable<Especialidad>
@{
    ViewData["Title"] = "Especialidadw";
    Layout = "~/Views/Shared/_Content.cshtml";
}
<head>
    <title>Especialidad</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Lista Especialidad</h2>
                </div>
            </div>
            <form asp-controller="Especialidad" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorEspecialidad">
                    <div class="col-md-2 col-lg-2 text-right">
                        <partial name="_CreateButtonPartial" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <partial name="_BackHome" />
                    </div>
                </div>
                <div class="col-md-12" style="color:black;"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <table class="table table-hover border .table-responsive" id="TbEspecial">
                    <thead class="thead-dark">
                        <tr class="table-secondary">
                            <th>
                                @Html.DisplayNameFor(model => model.EspecialidadId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EspecialidadId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <partial name="_AddEditAndView" model="item.EspecialidadId" />
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2 style="color:red">No hay especialidades en la lista.</h2>
            }
        </div>
        <form asp-action="Delete" asp-controller="Especialidad" method="post" id="viewEliminarEspecialidad">
            <input type="hidden" id="txtEspecialidadId" name="EspecialidadId" />
        </form>
        <form asp-action="Edit" asp-controller="Especialidad" method="post" id="viewEditar">
            <input type="hidden" id="txtEspecialidadId" name="EspecialidadId" />
        </form>
    </main>
</div>
<partial name="_EndPag" />

