@model IEnumerable<Clinica.Models.TipoUsuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<head>
    <title>Asigna roles</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Lista de roles de usuario</h2>
                </div>
            </div>
            <br />
            <form asp-controller="AsignaRol" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorBotones">
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-action="Create" class="btn btn-success fa fa-plus-circle crear">
                            Nuevo
                        </a>
                    </div>

                    <div class="col-md-2 colo-lg-2 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar al menú
                        </a>
                    </div>
                </div>
                <div class="col-md-12 divisor"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <div class="contenedorTablas">
                    <table class="table table-hover border .table-responsive" id="TbEspecial">
                        <thead class="thead-dark">
                            <tr class="table-secondary trs">
                                <th>@Html.DisplayNameFor(model => model.TipoUsuarioId)</th>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(m => item.TipoUsuarioId)</td>
                                <td>@Html.DisplayFor(m => item.Nombre)</td>
                                <td>
                                    <a class="btn btn-success fa fa-plus-circle" aria-hidden="true"
                                       asp-controller="AsignaRol" asp-action="Listar"
                                       asp-route-id="@item.TipoUsuarioId"></a>

                                    <a class="fa fa-pencil btn btn-info" aria-hidden="true"
                                       asp-controller="AsignarRol" asp-action="Edit"
                                       asp-route-id="@item.TipoUsuarioId"></a>

                                    <a class="fa fa-info-circle btn btn-primary" aria-hidden="true"
                                       asp-controller="AsignarRol" asp-action="Details"
                                       asp-route-id="@item.TipoUsuarioId"></a>

                                    <a class="fa fa-info-circle btn btn-primary" aria-hidden="true"
                                       asp-controller="AsignarRol" asp-action="Delete"
                                       asp-route-id="@item.TipoUsuarioId"></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <h2 class="textoInformativo">No hay tipos usuarios en la lista.</h2>
            }
        </div>
        <form asp-action="Delete" asp-controller="Especialidad" method="post" id="viewEliminarEspecialidad">
            <input type="hidden" id="txtEspecialidadId" name="EspecialidadId" />
        </form>
        <form asp-action="Edit" asp-controller="Especialidad" method="post" id="viewEditarEspecialidad">
            <input type="hidden" id="txtEspecialidadId" name="EspecialidadId" />
        </form>
    </main>
</div>
<partial name="_EndPag" />