@model IEnumerable<Clinica.Models.Pagina>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Content.cshtml";
}

<head>
    <title>Lista de páginas</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Páginas</h2>
                </div>
            </div>
            <br />
            <form asp-action="Registrar" asp-controller="AsignaRol" method="post" id="frmAgregar">
            </form>
            <form asp-action="Delete" asp-controller="AsignaRol" method="post" id="frmEliminar">
            </form>
            <form asp-controller="AsignaRol" asp-action="Index" method="post" id="frmFilter">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h4 class="text-dark" style="text-align:center;">
                            Procesando: @ViewBag.Usuario
                        </h4>
                    </div>
                    <input type="hidden" id="UserType" value="@ViewBag.TipoUsu" />
                    <br style="color:black" />
                </div>
                <div class="row contenedorBotones">
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-controller="Pagina" asp-action="Create" class="btn btn-success fa fa-plus-circle crear">
                            Nuevo
                        </a>
                    </div>
                    <div class="col-md-2 colo-lg-2 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar al menú
                        </a>
                    </div>
                    <div class="col-md-2 colo-lg-2 text-right">
                        <a class="btn btn-info fa fa fa-arrow-circle-left inicio" onclick="AsignarRol('/AsignaRol/Registrar/','/AsignaRol/Delete/')">
                            Guardar Roles
                        </a>
                    </div>
                    <div class="col-md-2 colo-lg-2 text-right">
                        <a class="btn btn-info fa fa fa-arrow-circle-left inicio" onclick="recuperar(@ViewBag.TipoUsu)">
                            Recuperar Roles
                        </a>
                    </div>
                </div>
                <div class="col-md-12 divisor"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <div class="contenedorTablas " id="divPaginas">
                    <table class="table table-hover border .table-responsive">
                        <thead class="thead-dark">
                            <tr class="table-secondary trs">
                                <th>@Html.DisplayNameFor(model => model.PaginaId)</th>
                                <th>@Html.DisplayNameFor(model => model.Controlador)</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.PaginaId)</td>
                                    <td>@Html.DisplayFor(m => item.Controlador)</td>
                                    <td>
                                        <input type="checkbox" class="checkbox"
                                               id=@item.PaginaId />
                                    </td>
                                    <!---->
                                    <td style="width:150px">
                                        <div class="btn-group tabla" id="tabla" role="group">
                                            <a class="btn text-white boton-edit" asp-action="Edit" asp-route-Id="@item.PaginaId" asp-controller="Pagina">
                                                <img src="~/images/editar.png" style="width:20px; border-color:black;" />
                                            </a>
                                            <a class="btn text-white boton-list" asp-action="Details" asp-route-Id="@item.PaginaId" asp-controller="Pagina">
                                                <img src="~/images/lista.png" style="width:20px; border-color:black;" />
                                            </a>
                                            <a class="btn text-white boton-delete" aria-hidden="true" onclick="Eliminar(@item.PaginaId)" asp-controller="Pagina">
                                                <img src="~/images/eliminar (1).png" style="width:20px; border-color:black;" />
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h2 class="textoInformativo">No hay tipos usuarios en la lista.</h2>
            }
        </div>
        <form asp-action="Index" asp-controller="TipoUsuarios"
              method="post" id="frmRegresar">
        </form>
    </main>
</div>
<script>
    window.addEventListener('load', () => {
        recuperar(@ViewBag.TipoUsu);
    })
</script>
<partial name="_EndPag" />

