@model IEnumerable<Clinica.Models.Citas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Content.cshtml";
    String nombreCitas = ViewBag.Citas;
}

<head>
    <title>Consulta Citas</title>
</head>
<partial name="_Menu" />
<div class="container">
    <!--Cambio aca-->
    <main class="pb-3" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <h2 class="text-light">Consulta Medico</h2>
                </div>
            </div>
            <form asp-controller="Citas" asp-action="Index" method="post" id="frmFilter">
                <div class="row contenedorBotones">
                    <div class="col-md-2 col-lg-2 text-right">
                        <label>Buscar Citas:</label>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-align-center">
                        <input type="text" class="form-control" name="nombre" id="nombre" value="@ViewBag.Citas" />
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-align-center ">
                        <a class="btn btn-success fa fa-search botonesTexto buscarConsulta" onclick="BuscarConsulta()">
                            Buscar
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a class="btn btn-success fa fa-file-excel-o resetearBoton botonesTexto" onclick="Resetear()">
                            Resetear
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-controller="ConsultaCitas" asp-action="exportarPDF" class="btn btn-success fa fa-file-pdf-o crearPDF botonesTexto" target="_blank">
                            Exportar PDF
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 col-lg-2 text-right">
                        <a asp-controller="ConsultaCitas" asp-action="exportarExcel" class="btn btn-success fa fa-file-excel-o crearExcel botonesTexto" target="_blank">
                            Exportar Excel
                        </a>
                    </div>
                    <br />
                    <div class="col-md-2 colo-lg-2 text-right">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-info fa fa fa-arrow-circle-left inicio">
                            Regresar al menú
                        </a>
                    </div>
                    <br />
                </div>
                <div class="col-md-12" style="color:black;"><hr></div>
            </form>
            @if (Model.Count() > 0)
            {
                <table class="table table-hover border .table-responsive" id="tbDatos">
                    <thead class="thead-dark trs">
                        <tr class="table-secondary">

                            <th>
                                @Html.DisplayNameFor(model => model.FechaCita)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Diagnostico)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Medico)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Paciente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Especialidad)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbDatos">
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCita)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnostico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Medico.Apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.Apellidos)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Especialidad.Descripcion)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2 class="textoInformativo">No hay medicos en la lista.</h2>
            }
        </div>
    </main>
</div>
<partial name="_EndPag" />







